   * {
    text-align: center;
}

h1 {
    color: #f4425c;
}

h2 {
    color: aliceblue
}

body {
    background-image: url(https://img.purch.com/w/660/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzAyMy82Mzgvb3JpZ2luYWwvb3Jpb24tbmVidWxhLmpwZw==)